name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Vite build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm

      - name: Cache NPM dependencies
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Vite build
        id: build
        run: npm run build:vite

      - name: File Existence
        id: files
        uses: andstor/file-existence-action@v3.0.0
        with:
          files: 'module.json, dist/pf2e-graphics.js'
          fail: true

      - name: Build DEBUG
        if: failure() && steps.build.outcome == 'success'
        run: npm run build:vite -- --debug

      - name: Check
        run: npm run check

  eslint:
    name: ESLint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - name: Cache NPM dependencies
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Test ESLint
        run: npm run lint

  animations:
    name: Animation files

    permissions:
      pull-requests: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get changed animations
        id: changed-animations
        uses: tj-actions/changed-files@v45
        with:
          files: |
            animations/**/*.json

      - uses: actions/setup-node@v4
        if: steps.changed-animations.outputs.any_changed == 'true'
        with:
          node-version: 22.6

      - name: Cache NPM dependencies
        id: cache-npm
        uses: actions/cache@v4
        if: steps.changed-animations.outputs.any_changed == 'true'
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        if: steps.changed-animations.outputs.any_changed == 'true'&& steps.cache-npm.outputs.cache-hit != 'true'
        run: npm ci

      - name: Test animation files
        if: steps.changed-animations.outputs.any_changed == 'true'
        env:
          MODIFIED_ANIMATIONS: ${{ steps.changed-animations.outputs.all_changed_files }}
        run: npm run test:animations -- ${MODIFIED_ANIMATIONS}

  sequencer_db:
    name: Sequencer DB

    permissions:
      pull-requests: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get changed assets
        id: changed-assets
        uses: tj-actions/changed-files@v45
        with:
          files: |
            src/assets/*Db.ts
            assets/library/**

      - uses: actions/setup-node@v4
        if: steps.changed-assets.outputs.any_changed == 'true'
        with:
          node-version: 22.6

      - name: Cache NPM dependencies
        id: cache-npm
        uses: actions/cache@v4
        if: steps.changed-assets.outputs.any_changed == 'true'
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        if: steps.changed-assets.outputs.any_changed == 'true' && steps.cache-npm.outputs.cache-hit != 'true'
        run: npm ci

      - name: Test Sequencer DB
        if: steps.changed-assets.outputs.any_changed == 'true'
        run: npm run test:assets
