name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm

      - name: Cache NPM Deps
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM Deps
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Build
        env:
          IGNORE_ESLINT: true
        run: |
          npm run build

      - name: File Existence
        uses: andstor/file-existence-action@v3.0.0
        with:
            files: "dist/pf2e-graphics.js"
            fail: true


      - name: Check
        run: |
          npm run check
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - name: Cache NPM Deps
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM Deps
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        run: |
          npm ci

      - name: Test Eslint
        run: npm run lint
  animations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.6

      - name: Cache NPM Deps
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM Deps
        if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        run: |
          npm ci

      - name: Test animation files
        run: npm run test
